{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <h1 class="col-12 col-md-3 display-12">Куртки</h1>
            <img src="/static/img/куртка1.bmp" class="col-12 col-md-6
                20img-fluid rounded-circle" alt="">
            <img src="/static/img/куртка2.bmp" class="col-12 col-md-6
                20img-fluid rounded-circle" alt="Моё фото">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p> Dicta id officia quibusdam vel voluptates. Ad
adipisci aliquid animi architecto commodi deleniti dolor
doloremque facilis fugiat hic illo nam odit officia placeat
provident quam quisquam quo reiciendis repudiandae sint suscipit
unde, velit voluptatem! </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
                <p>Ab accusamus delectus et expedita id iste,
laboriosam optio quam, recusandae sed veritatis voluptate!
Accusamus blanditiis debitis et tempora. Ab architecto asperiores
aut consequuntur distinctio earum iusto nihil, non odit quidem
soluta veniam.</p>
        </div>
    </div>
{% endblock %}